html{
  width: 100%;
}
.root {
  background: url(../css/images/arkaplan.jpg);
  background-repeat: no-repeat;
  background-size: auto;
}

.contact-root {
  background: white;
}

/* NAVBAR */
.navbar {
  background: linear-gradient(to right, transparent, rgb(87, 87, 87), rgb(5, 4, 2));
  opacity: 1;
  color: white;
  width: 100%;
  animation: ease 1s;

}

.navbar-transparent {
  background: linear-gradient(.50turn, rgb(0, 0, 0), 47%, transparent);

}

.nav-item {
  margin-right: 6px;
  line-height: 12px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-width: 0px 0px 2px;
  font-size: 20px;
  color: rgb(214, 214, 214);
  font-weight: 500;
  animation: nav-loader 1s;
}

@keyframes nav-loader {
  from {
    opacity: 0;
    top: -50%;

  }

  to {
    opacity: 1;
    top: 0%;
  }

}

.navbar .nav-item:hover {
  color: white;
  transform: ease 1s;
  border-color: rgb(243, 211, 113);
}

.actived {
  font-size: 23px;
  border-width: 0px 0px 2.5px;
  color: white;
  border-color: rgb(243, 211, 113);
}

h1 {
  color: white;
}

/* ////////////////////////////////// */

/* TİTLE */
.Title {
  top: 50%;
  text-align: center;
  justify-content: center;
}

.title-row {
  display: inline-block;
  margin-top: 15%;
  margin-bottom: 25%;
  width: 35%;
  height: 100%;
  color: rgb(255, 196, 0);
  background-color: transparent;
  line-height: 75px;
  top: 50%;
  animation: title-loader 1s;
}

@keyframes loader {
  from {
    opacity: 0;

  }

  to {
    opacity: 1;
  }
}

.title-text {

  font-size: 78px;
  line-height: 78px;
  font-weight: 900;
  color: rgb(255, 255, 255);
  letter-spacing: -2px;
  font-family: "Playfair Display";
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-width: 0px 0px 1px;
  visibility: inherit;
  transition: none 0s ease 0s;
  padding: 7px 22px 22px;
}
@keyframes title-loader {
  from {
    opacity: 0;
    margin-top: 100%;

  }

  to {
    opacity: 1;
    margin-top: 15%;
  }
}
/* //////////////////////////////////// */

/* ABOUT */
.about {
  background: linear-gradient(.0turn, rgb(0, 0, 0), 95%, transparent);
  top: 50%;
  left: 50%;
  margin-top: 15rem;
  justify-content: center;
  align-items: center;
  padding: 15px;
  font-size: larger;
}

.about p {
  color: white;
  font-size: 20px;
}



/* ///////////////////////////////////// */

/* CONTACT */
.contact {
  animation: loader 1s;
  padding-top: 80px;
  padding-bottom: 50px;
}

.contact-widget {
  margin-bottom: 30px;
}

.contact-widget span {
  font-size: 36px;
  color: var(--page-color);
}

.contact-widget h4 {
  color: #1c1c1c;
  font-size: 28px;
  margin-bottom: 6px;
  margin-top: 18px;
}

.contact-widget p {
  color: #666666;
  font-size: 23px;
  margin-bottom: 0;
}

/* ///////////////////////////////////// */

/* PROJECT */
.project-title {
  margin: 20px;
  width: max-content;
  color: rgb(0, 0, 0);
  font-family: "Playfair Display";
  border-color: rgb(0, 0, 0);
  border-bottom: 4px solid #000000;
  border-style: solid;
  border-width: 0px 0px 4px;
}

.project-container {
  margin: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* 3 sütunlu grid */
  grid-gap: 15px;
  /* Sütunlar arasındaki boşluk */
}

.cardBox {
  width: 300px;
  height: 350px;
  position: relative;
  display: grid;
  place-items: center;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 10px 0px,
    rgba(0, 0, 0, 0.5) 0px 2px 25px 0px;
  animation: cardbox-loader 1.5s;
}

/* FOR PC */
@keyframes cardbox-loader {
  from {
    margin-left: 100%;

  }

  to {
    margin-left: 0%;
  }
}

/* //////////////////// */

/* FOR MOBİLE */
@keyframes mobilecardbox-loader {
  from {
    margin-top: 100%;

  }

  to {
    margin-top: 0%;
  }
}

/* ////////////////////// */

.card {
  background: url('../css/images/hotelroom.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  position: absolute;
  width: 85%;
  height: 85%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  overflow: hidden;
  cursor: pointer;
  border-color: #000000;
  animation: card-loader 1.8s;
}

@keyframes card-loader {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* farklı fotoğraflar kullanabilmek için */
#museum {
  background: url('../css/images/museum.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#room2 {
  background: url('../css/images/hotelroom2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.card h2,
.card span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  font-weight: 800;
  pointer-events: none;
  opacity: 0.8;
}

.card .card-content h3 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}

.card .card-content p {
  font-size: 1.3rem;
  line-height: 25px;
}

.card .card-content {
  transform: translateY(100%);
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.card:hover .card-content {
  padding: 23px;
  background-color: black;
  color: white;
  transform: translateY(0);
  opacity: 0.68;
}

.card:hover h2,
.card:hover span {
  opacity: 0;
}



.cardBox::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 150%;
  background: rgb(255, 196, 0);
  ;
  animation: glowing01 5s linear infinite;
  transform-origin: center;
  animation: glowing 5s linear infinite;
}

@keyframes glowing {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* ////////////////////// */

/* PARALLAX */
.parallax-layer2 {
  background: linear-gradient(.0turn, rgb(0, 0, 0), 85%, transparent);
}

.parallax-layer3 {
  background: rgb(255, 255, 255);
}

.parallax-layer4 {
  background: rgb(255, 255, 255);
}

.parallax-layer5 {
  background-color: #15151e;
}

/* /////////////////////// */

/* SLİDER */

.slider-wrapper {
  margin-bottom: 25%;
  background: white;
  width: 100%;
  height: 100%;
}

.slider-title {
  display: block;
  margin: 20px;
  width: max-content;
  color: rgb(0, 0, 0);
  font-family: "Playfair Display";
  border-color: rgb(0, 0, 0);
  border-bottom: 4px solid #000000;
  border-style: solid;
  border-width: 0px 0px 4px;
}

.slider {
  display: grid;
  align-items: center;
  justify-content: center;
}

.slider2 {
  background-color: red;
  width: 15px;
}

.slider-info {
  opacity: 0.8;
  background-color: rgb(250, 250, 250);
  color: black;
  text-decoration: none;
  padding: 15px;
  border-radius: 7px;
  border: none;
}

.slider-image {
  margin: 20px;
  border: solid 25px;
  width: 240px;
  height: 240px;
  transition: all 1s;
  transform: skewX(5deg);
}

/* //////////////////////////// */
/* FOOTER */
.footer {
  padding: 40px 0;
  background: linear-gradient(0turn, #15151e, 65%, white);
  color: #ffffff;
}

.footer ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer .icon-i {
  background: linear-gradient(to bottom, #5851db, #8e44ca, #b036b6, #c82aa0, #d72589, #e0287b, #e5306e, #e93a61, #ee4359, #f14c51, #f45648, #f56040);
}

.footer .icon-f {
  background: #3b5998;
}

.footer .icon-t {
  background: #00acee;
}

.footer li {
  padding: 0 10px;
}

.footer ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer ul a:hover {
  opacity: 1;
}

.footer .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer .social>a {
  padding: 5px;
  margin: 5px;
  font-size: 50px;
  width: 75px;
  height: 75px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px groove rgb(255, 217, 0);
  color: inherit;
  opacity: 0.45;
  transition: all 0.3s;

}

.footer-text {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  justify-content: center;
  font-size: 35px;
}

.footer .social>a:hover {
  opacity: 1.2;
}

.footer .footer-title {
  margin-top: 10%;
  font-size: 65px;
}

/* /////////////////////////// */

/* INFO */
.info-place {
  background: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}

.info-image-place {
  padding: 1.5rem;
  width: 33%;

}

.info-image {
  margin: 20px;
  border: solid 25px;
  width: 550px;
  height: 86%;
  transition: all 1s;
  transform: skewX(5deg);
}

.info-text {
  width: 66.66666667%;
  padding: 15px;
  margin-top: 15px;
  text-align: center;
  font-size: 20px;
}

.info-title {
  font-size: 30px;
  margin: 20px;
  width: max-content;
  color: rgb(0, 0, 0);
  font-family: "Playfair Display";
  border-color: rgb(0, 0, 0);
  border-bottom: 4px solid #000000;
  border-style: solid;
  border-width: 0px 0px 4px;

}

/* /////////////////////////// */







/*
/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/
-------______________--------------   
        MOBİLE-SCREEN 
_______--------------______________
/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/ 
*/
@media only screen and (max-width: 763px) {

  .navbar-toggler {
    background-color: white;
  }

  .about p {
    font-size: 100%;
  }

  .title-row {
    width: auto;
    height: auto;
  }

  .info-place {
    padding: 0;
    grid-template-columns: 1fr;
    grid-gap: 0;
  }


  .info-image-place {
    padding: 0;
    width: 65%;
  }
  .info-image{
    width: 75%;
    height: 75%;
    border: solid 15px;
  }
  .info-text {
    width: 100%;
  }
  .slider-image{
    width: 25%;
    height: 35%;
    border: solid 15px;
  }
  .footer-title {
    display: none;
  }

  .project-container {
    margin: 5%;
    grid-template-columns: 1fr;
  }

  .cardBox {
    width: 95%;
    animation: mobilecardbox-loader 1.5s;
  }

}